/* DEFAULT SETTINGS */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ margin:0; padding:0;}
table{ border-collapse:collapse; border-spacing:0;}
fieldset,img{ border:0;}
address,caption,cite,code,dfn,var{ font-style:normal; font-weight:normal;}
ol,ul{ list-style:none;}
caption,th{ text-align:left;}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
q:before,q:after{ content:'';}
abbr,acronym{ border:0;}

body,button,input,select,textarea{ color:#333; font-family:Arial,Verdana,sans-serif; font-size:12px; line-height:16px;}
a{ color:#0072bc; cursor:pointer; text-decoration:none;}
a:visited{ color:#0072bc;}
a:hover{ text-decoration:underline;}

/* VIVIAN COLORS REMINDER

#9167af light purple
#7d5d9e middle purple
#634b89 dark purple

#9dc478 light green
#8cb271 middle green
#719960 dark green

#d48d74 light redhair
#cc816c middle redhair
#b95452 dark redhair

#a5d053 light clover
#83b045 dark clover

#5c6c85 light jeans
#46556f dark jeans

*/

body {
	background-color: #EEE;
}

/* ABOUT TEMPORARY */

#about {
	text-align: center;
	background-color: rgba(255,255,255,0.75);
	left: 0;
    position: fixed;
    right: 0;
	top: 0;
    width: 100%;
    z-index: 1000;
	height: 50px;
	border-bottom: 1px solid #CCC;
}

#about h1 {
	font-size: 24px;
	font-weight: bold;
	color: #C00000;
	margin: 5px;
}

/* WRAPPER */

#page_wrapper {
	max-width: 1220px;
	-moz-box-shadow: 0 0 8px #333;
	-webkit-box-shadow: 0 0 8px #333;
	box-shadow: 0 0 8px #333;
	background-color: #FFF;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

/* HEADER */

#header {
	min-height: 160px;
	margin-top: 8px;
	background-color: #d48d74;
	position: relative;
}

#header #vivian {
	max-height: 150px;
	padding-top: 4px;
	padding-left: 4px;
	float: left;
}

#header h1 {
	display: inline-block;
	font-size: 64px;
	line-height: 64px;
	margin-left: 8px;
	margin-top: 48px;
	color: #a5d053;
	text-shadow: 4px 4px #83b045;
}

#header #login {
	position: absolute;
	top: 0;
	right: 0;
	margin: 4px;
}

#header #login form {
	display: inline-block;
}

#header #login input {
	background-color: #cc816c;
	border: 1px solid #b95452;
	border-radius: 16px;
	font-size: 14px;
	padding: 4px;
}

#header #login input[type=text]:focus, #header #login input[type=password]:focus, #header #login input[type=submit]:hover {
	background-color: #d48d74;
}

#header #login a#signup {
	display: inline-block;
	color: #000;
	background-color: #cc816c;
	border: 1px solid #b95452;
	border-radius: 16px;
	font-size: 14px;
	padding: 4px;
}

#header #login a#signup:hover {
	background-color: #d48d74;
	text-decoration: none;
}

#header #menu {
	font-size: 16px;
	position: absolute;
	bottom: 0;
	right: 0;
}

#header #menu li {
	display: inline-block;
	background-color: #cc816c;
	border-left: 1px solid #b95452;
}

#header #menu a {
	display: inline-block;
	padding: 4px 8px;
	min-height: 24px;
	line-height: 24px;
	color: #FFF;
}

#header #menu a:hover {
	background-color: #b95452;
	text-decoration: none;
}

/* FOOTER */

#footer {
	clear: both;
	min-height: 24px;
	color: #EEE;
	background-color: #5c6c85;
	border-top: 4px solid #46556f;
	border-bottom: 4px solid #46556f;
	margin-top: 10px;
}

/* MAIN */

#main {
	min-height: 100px;
}

#main_wrapper {
	padding-left: 480px;
	padding-right: 240px;
}

#before_footer {
	clear: both;
}

/* columns */

#main_wrapper #column_featured {
	width: 480px;
	float: left;
	margin-left: -475px;
}

#main_wrapper #column_user  {
	width: 480px;
	float: left;
	margin: 0 5px;
}

#main_wrapper #column_media {
	width: 240px;
	float: left;
	margin-right: -240px;
}

#main_wrapper h2 {
	text-align: center;
	font-size: 32px;
	line-height: 32px;
	color: #a5d053;
	text-shadow: 1px 1px #83b045;
	margin-top: 8px;
	margin-bottom: 16px;
}

#main_wrapper #column_container {
	padding: 4px;
}

#main .box {
	min-width: 100px;
	min-height: 100px;
	margin: 8px;
	background-color: #EEE;
	border: 4px solid #CCC;
	display: inline-block;
}

#main .box_green {
	background-color: #9dc478;
	border-color: #8cb271;
}

#main .box_purple {
	background-color: #9167af;
	border-color: #7d5d9e;
}

/* ARTICLE */

.article {
	margin-top: 8px;
}

.article .article_main {
	min-height: 80px;
	background-color: #EEE;
	padding: 8px;
}

.article .article_header {
	text-align: center;
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	border: 2px solid #CCC;
	background-color: #EEE;
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
}

.article .article_footer {
	text-align: center;
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	border: 2px solid #CCC;
	background-color: #EEE;
	border-bottom-left-radius: 24px;
	border-bottom-right-radius: 24px;
}

.article .article_purple {
	color: #FFF;
    text-shadow: 0 0 4px #000;
	background-color: #9167af;
	border-color: #7d5d9e;
}

.article .article_green {
	background-color: #9dc478;
	border-color: #8cb271;
	text-shadow: 0 0 4px #FFF;
}

/* SMALL ARTICLE */

.smallarticle {
	margin-top: 8px;
}

.smallarticle .smallarticle_header {
	text-align: center;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: #EEE;
	border: 2px solid #EEE;
	font-size: 14px;
	padding: 2px 0;
}

.smallarticle .smallarticle_header .smalltext {
	float: right;
	color: #FFF;
	font-weight: bold;
	font-size: 12px;
}

.smallarticle .smallarticle_main {
	background-color: #EEE;
	border: 2px solid #EEE;
	border-top: 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 8px;
}

.smallarticle .smallarticle_green {
	background-color: #9dc478;
	border-color: #8cb271;
	text-shadow: 0 0 4px #FFF;
}

.smallarticle .smallarticle_purple {
	color: #FFF;
    text-shadow: 0 0 4px #000;
	background-color: #9167af;
	border-color: #7d5d9e;
}